  /* Modalità tablet */
  
@media screen and (min-width: 770px) {
    #topbar{
        justify-content: flex-start
    }

    main{
        padding: 40px;
    }

    .recipe-origin{
        display: inline   
     }

    .recipe-title{

        font-size: 20px;
     }

    ul{

    display: flex;
    flex-wrap: wrap;
    
  }
    .quick-notes li{
    width: 33%;
  }

    .btn{
    padding: 10px 50px;
 }

   .ads{
    display: block;
 }

   .presentation img{
    
     float: left;
     margin-right: 10px; 
 }


}

/* Modalità tablet END */

/* Modalità desktop */

@media screen and (min-width: 1024px) {

  .recipe-title{

        font-size: 35px;
     }

     ul{
      display:block;
    list-style-type: style type disc;;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    ;
     }
   
    .social-networks .label {
	display:block;
}

footer{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  
}



 }
/* Modalità desktop END */


